PINECONE_API_KEY = "<PINECONE_API_KEY>"
PINECONE_INDEX_NAME = "<PINECONE_INDEX_NAME>"
PINECONE_NAMESPACE = "<PINECONE_NAMESPACE>"
PINECONE_BATCH_SIZE = "<PINECONE_BATCH_SIZE>"

GROQ_API_KEY = "<GROQ_API_KEY>"